body{
    font-family: 'Fira Sans', sans-serif;
}
.logo-text{
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
}
.nuxt-link-exact-active{
    border-bottom: 3px solid #FF90BB;
}
.divider{
    height: 75px;
    background-color: whitesmoke;
}
.featured .box{
    padding: 10px;
    border: 1px solid #91C8E4;
    border-radius: 10px;
    margin-bottom: 20px;
}
.featured .icon>.img-icon{
    width: 50px!important;
    height: 50px!important;
}
.featured .icon>.title{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid #91C8E4;
}
.title{
    font-size: 32px;
    font-weight: 600;
    border-bottom: 3px solid #91C8E4;
    margin: 10px auto;
    text-align: center;
    width: fit-content;
    display: flexbox;
    text-transform: uppercase;
}
.bg-custom {
    background-color: whitesmoke !important;
}
.btn-custom{
    background-color: #FF2171;
    color: whitesmoke;
}
.btn-custom::after{
    content: ' ⇀';
}
.btn-custom:hover{
    background-color: #FF90BB;
    color: black
}